<!DOCTYPE html>

<head>

<% include ../../partials/include %>
<link type="text/css" rel="stylesheet" href="/css/auth.css">

</head>

<body>

<div class="wrap">
<div id="container">

<div id="login">
<form action="/" method="post">
    <input autofocus type="text" name="logemail" placeholder="E-mail" required> <br>
    <input type="password" name="logpassword" placeholder="Password" id="logpassword" required>
    <br>
    <input class="submit" type="submit" value="Login">
</form>
</div>



<div id="signup">
<form action="/" method="post">
    <input type="email" name="email" placeholder="E-mail" required> <br>
    <input type="text" name="username" placeholder="Username" maxlength="11" required> <br>
    <input type="text" name="picture" placeholder="pictureURL"> <br>
    <input type="password" name="password" placeholder="Password" id="password" required> <br>
    <input type="password" name="passwordConf" placeholder="Confirm Password" id="password_conf" required>
    <br>
	<input class="submit" type="submit" value="REGISTER">
</form>
</div>

</div>
</div>


</body>
