<title>Kurokodairu</title>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- CSS -->
<link type="text/css" rel="stylesheet" href="/css/main.css">

<!-- Scripts -->
<!-- NOT IN USE <script src="/includes/jquery.min.js"></script> -->