#navbar .pageName {
	font-weight: bold;
	font-size:26px;
  padding-top:7px;
  padding-bottom:0px;
}

#navbar {
	overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 0;
	margin-bottom:25px;
  font-size: 18px;
  min-width: 550px;;
}

#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 12px 15px;
  text-decoration: none;
}


/* Right-aligned link */
#navbar a.right {
  float: right;
}

.post {
  background-color: #3469e5;
}